/*Body*/
.body{
    width: 90%;
    margin: auto;
    background-color: rgb(0, 81, 120);
}

/*Main Header*/
.main-header{
    font-family: "Lato";
    font-size: 60px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
    color: white;
}

/*Year Blocks*/
.body-images{
    width: 100%;
    margin-top: 10px;
}
.body-text{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Lato";
    color: white;
}
@media only screen and (min-width: 952px) {
    .body-text{
        font-size: 20px;
    }
}