/*Body*/
body{
    width: 90%;
    margin: auto;
    background-color: rgb(0, 81, 120);
}

/*Main Header*/
.main-header{
    font-family: "Lato";
    font-size: 60px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
    color: white;
}

/*Section Links*/
.button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 50px;
    background-color: rgb(162, 162, 162);
    border: none;
    border-radius: 25px;
    margin-bottom: 10px;
    text-align: center;
}
.button:hover{
    background-color: rgb(138, 138, 138);
}
.button-text{
    font-family: "Lato";
    text-align: center;
    font-size: 17px;
    text-decoration: none;
    color: white;
}

/*Images*/
.gallery-artwork{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0;
}

/*Gallery Headers*/
.sub-header{
    font-family: "Lato";
    font-size: 50px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
    color: white;
}
.sub-sub-header{
    font-family: "Lato";
    font-size: 40px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
    color: white;
}

/*Body Text*/
.body-text{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0px;
    font-family: "Lato";
    color: white;
}
#last-text-block{
    margin-bottom: 10px;
}